/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --main-bg-image: url(../images/cover-image-dark.png);
  --main-bg-color: #000028;

  --color-text-main: #f1b2ce;
  --color-text-title: #000028;
  --color-text-title-xl: #db00ff;
  --color-text-button: #ff0070;
  --color-section-title: #ff0070;

  --accent-color: #ff0070;
  --decorative-color: #ff0070;
  --border-color: #ff0070;
  --border-color-hover: rgba(255, 0, 112, 0.4);
}

.theme-dark .header__rec-indicator {
  display: block;
}
