/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --main-bg-image: url(../images/cover-image-light.png);
  --main-bg-color: #fff1f7;

  --color-text-main: #353430;
  --color-text-title: #353430;
  --color-text-title-xl: #ffc2e6;
  --color-text-button: #353430;
  --color-section-title: #353430;

  --accent-color: #ff8dcb;
  --decorative-color: #353430;
  --border-color: #353430;
  --border-color-hover: rgba(50, 49, 45, 0.4);
}

.theme-light .header__rec-indicator {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-bg-image: url(../images/cover-image-light.png);
    --main-bg-color: #fff1f7;

    --color-text-main: #353430;
    --color-text-title: #353430;
    --color-text-title-xl: #ffc2e6;
    --color-text-button: #353430;
    --color-section-title: #353430;

    --accent-color: #ff8dcb;
    --decorative-color: #353430;
    --border-color: #353430;
    --border-color-hover: rgba(50, 49, 45, 0.4);
  }

  .header__rec-indicator {
    display: none;
  }
}
