/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  min-height: 100vh;
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background: var(--bg-image) no-repeat center / cover;
  background-color: var(--bg-color, #000028);
  background-attachment: fixed;
}
