/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main-bg-image: url(../images/cover-image-dark.png);
  --main-bg-color: #000028;

  --color-text-title: #000028;
  --color-text-title-xl: #db00ff;
  --color-text-main: #f1b2ce;

  --accent-color: #ff0070;
  --button-border-hover-color: rgba(255, 0, 112, 0.4);

  --font-family-base: "IBM Plex mono", monospace;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --font-size-base: 1.125rem;
  --font-size-title-xl: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);

  --line-height-base: 1.3;
  --line-height-title-xl: 0.83;

  --space-sm: 10px;
  --space-md: 20px;
  --space-lg: 50px;

  --border-width: 1px;
}
